<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12">
          <nav class="nav">
            <a class="nav-link" href="shopping.component.html">Shopping App</a>
            <a class="nav-link active" aria-current="page"  href="todo.component.html">Todo-list</a>
            <a class="nav-link" href="photos.component.html">Photos</a>
            <a class="nav-link" href="liveNews.component.html">Live News</a>
            <a class="nav-link" href="posts.component.html">Posts</a>
            <a class="nav-link" href="album.component.html">Album</a>
            <a class="nav-link" href="user.component.html">User</a>
        </nav>
            <table class="table">
                <thead class="table-primary">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">UserId</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let i of data">
                    <th scope="row">{{i.id}}</th>
                    <td>{{i.userId}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.completed}}</td>
                  </tr>

                </tbody>
              </table>
        </div>
    </div>
</div>