<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/shopping">Shopping</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/todo">Todo List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/album">Album</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/news">Live News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/photos">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">Users</a>
    </li>
</ul>