<app-header></app-header>
<h1>VIEW EMPLOYEE</h1><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col">
            <div class="container">
                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label">Employee Code</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label">Designation</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label">Salary</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label">Phone</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label">Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label">Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <button class="btn btn-dander">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h1>VIEW EMPLOYEES</h1><br>
<div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtRs_rWILOMx5-v3aXwJu7LWUhnPceiKvvDg&usqp=CAU" class="card-img-top" alt="user">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Employee code : 100</li>
      <li class="list-group-item">Name : James</li>
      <li class="list-group-item">Designation : Manager</li>
      <li class="list-group-item">Salary : 30000</li>
      <li class="list-group-item">Phone : 90213456</li>
      <li class="list-group-item">Email : james123@gmail.com</li>
    </ul>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtRs_rWILOMx5-v3aXwJu7LWUhnPceiKvvDg&usqp=CAU" class="card-img-top" alt="user">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Employee code : 101</li>
      <li class="list-group-item">Name : Mathew</li>
      <li class="list-group-item">Designation : HR</li>
      <li class="list-group-item">Salary : 40000</li>
      <li class="list-group-item">Phone : 90231567</li>
      <li class="list-group-item">Email : mathew123@gmail.com</li>
    </ul>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtRs_rWILOMx5-v3aXwJu7LWUhnPceiKvvDg&usqp=CAU" class="card-img-top" alt="user">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Employee code : 102</li>
      <li class="list-group-item">Name : Sneha</li>
      <li class="list-group-item">Designation : Clerk</li>
      <li class="list-group-item">Salary : 20000</li>
      <li class="list-group-item">Phone : 89234516</li>
      <li class="list-group-item">Email : sheha123@gmail.com</li>
    </ul>
  </div>