
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 cl-lg-12 col-xl-12">
            <nav class="nav">
                <a class="nav-link" href="shopping.component.html">Shopping App</a>
                <a class="nav-link" href="todo.component.html">Todo-list</a>
                <a class="nav-link active" aria-current="page" href="photos.component.html">Photos</a>
                <a class="nav-link" href="liveNews.component.html">Live News</a>
                <a class="nav-link" href="posts.component.html">Posts</a>
                <a class="nav-link" href="album.component.html">Album</a>
                <a class="nav-link" href="user.component.html">User</a>
            </nav>
            <div class="row g-3">
                <div *ngFor="let i of data" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card">
                    <img src="{{i.url}}" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">{{i.title}}</h5>
                      <p class="card-text">{{i.id}}</p>
                      <a href="{{i.thumbnailUrl}}" class="card-link">Thumbnail</a><br/>
                      <a href="#" class="btn btn-primary">More pics</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
