<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Friend Name</th>
        <th scope="col">Friend NickName</th>
        <th scope="col">Describe Your Friend</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
        <td>{{i._id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.friendName}}</td>
        <td>{{i.friendNickName}}</td>
        <td>{{i.DescribeYourFriend}}</td>
    </tbody>
  </table>